# Web framework + ASGI server
fastapi
uvicorn[standard]

# Scheduling
apscheduler

# Validation + config
pydantic
pydantic-settings

# Database
sqlalchemy[asyncio]
asyncpg
alembic

# Redis
redis
hiredis

# Async HTTP client
httpx

# LLM
groq

# Embeddings + vector DB(currently not used)
# sentence-transformers
# chromadb

# Parsing
lxml

# Telegram
python-telegram-bot

# Config
python-dotenv

# Logging
python-json-logger

# Error tracking
sentry-sdk

# Testing
pytest
pytest-asyncio

# Linting
ruff==0.16.5
